@model impotquebec.Web.Models.TaxFormSection

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TaxForm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TaxForm.TaxFormId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternalName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternalName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LineNumbers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LineNumbers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rank)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaxFormSectionId"><i class='fa fa-edit'></i></a> |
    <a asp-action="Index">Back to List</a>
</div>
