@model IEnumerable<impotquebec.Web.Models.TaxFormLine>

@{
    ViewData["Title"] = "Tax Form Lines";
}

<h1>Tax Form Lines</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-sm table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaxForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LineNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>           
            <th>
                @Html.DisplayNameFor(model => model.TaxFormSection)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.FormDataType)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.IsReadOnly)
            </th>
              <th>
                @Html.DisplayNameFor(model => model.IsRequired)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaxForm.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LineNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.TaxFormSection.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
           
             <td>
                @Html.DisplayFor(modelItem => item.FormDataType.Name)
            </td></td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReadOnly)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.IsRequired)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TaxFormLineId"><i class='fa fa-edit'></i></a> |
                <a asp-action="Details" asp-route-id="@item.TaxFormLineId"><i class='fa fa-eye'></i></a> |
                <a asp-action="Delete" asp-route-id="@item.TaxFormLineId"><i class='fa fa-remove'></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
