@model IEnumerable<impotquebec.Web.Models.FormDataType>

@{
    ViewData["Title"] = "Form DataTypes";
}

<h1>Form DataTypes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-sm table-striped table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                 <a asp-action="Edit" asp-route-id="@item.FormDataTypeId"><i class='fa fa-edit'></i></a> |
                <a asp-action="Details" asp-route-id="@item.FormDataTypeId"><i class='fa fa-eye'></i></a> |
                <a asp-action="Delete" asp-route-id="@item.FormDataTypeId"><i class='fa fa-remove'></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
