@model IEnumerable<impotquebec.Web.Models.TaxForm>

@{
    ViewData["Title"] = "Tax Forms";
}

<h1>Tax Forms for declaration</h1>

<div class='container'>
    
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
              @*  <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
              @*  <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>*@
                <td>
                    <a asp-area="" asp-controller="Declarations" asp-action="Create" asp-route-code="@item.Code">Create</a> 
                </td>
            </tr>
    }
        </tbody>
    </table>

</div>
    