@model Tchaps.Impotquebec.Models.Declaration

@{
    ViewData["Title"] = "Details";
    Declaration declaration = new Declaration();
    declaration = Model;
    var user = new AppUser
            {
                LastName = declaration.GetTaxLine(1)?.Value,
                FirstName = declaration.GetTaxLine(2)?.Value,
                Language = declaration.GetTaxLine(5)?.Value,
                AddressApartment = declaration.GetTaxLine(7)?.Value,
                AddressStreetNumber = declaration.GetTaxLine(7)?.Value,
                AddressStreetName = declaration.GetTaxLine(8)?.Value,
                AddressProvince = declaration.GetTaxLine(8)?.Value,
                AddressPostalCode = declaration.GetTaxLine(9)?.Value,
                Ssn = declaration.GetTaxLine(11)?.Value
            };
}


<div>
    <h4>Declaration @user.FirstName @user.LastName</h4>
    <hr />
   
    <div class="container">
        <div class="row">
            <div class="col-4"> <strong>LastName</strong></div>
            <div class="col-4">@user.LastName</div>
        </div><br />
       <div class="row">
            <div class="col-4"><strong>FirstName</strong> </div>
            <div class="col-4">@user.FirstName</div>
        </div><br />
        <div class="row">
            <div class="col-4"><strong>Town, Municipality</strong> </div>
            <div class="col-4">@user.AddressProvince</div>
        </div><br />
        <div class="row">
            <div class="col-4"><strong>PostalCode</strong> </div>
            <div class="col-4">@user.AddressPostalCode</div>
        </div><br />
        <div class="row">
            <div class="col-4"><strong>Ssn</strong> </div>
            <div class="col-4">@user.Ssn</div>
        </div><br />       
    </div><br />

    <h2>Details</h2>

<table class="table table-sm table-striped table-responsive">   
    
    <tbody>
        <tr><th> @Html.DisplayNameFor(model => model.FiscalYear)</th>  <td> @Html.DisplayFor(model => model.FiscalYear) </td></tr>
        <tr><th>  @Html.DisplayNameFor(model => model.TotalIncome)</th>  <td>  @Html.DisplayFor(model => model.TotalIncome)</td></tr>
        <tr><th> @Html.DisplayNameFor(model => model.TotalDeductions) </th>  <td> @Html.DisplayFor(model => model.TotalDeductions)</td></tr>
        <tr><th>  @Html.DisplayNameFor(model => model.NetIncome)</th>  <td>  @Html.DisplayFor(model => model.NetIncome)</td></tr>
        <tr><th>  @Html.DisplayNameFor(model => model.TaxableIncome)</th>  <td>  @Html.DisplayFor(model => model.TaxableIncome)</td></tr>
        <tr><th> @Html.DisplayNameFor(model => model.NonRefundableTaxCredits)</th>  <td> @Html.DisplayFor(model => model.NonRefundableTaxCredits) </td></tr>
        <tr><th>  @Html.DisplayNameFor(model => model.IncomeTaxAndContributions)</th>  <td>  @Html.DisplayFor(model => model.IncomeTaxAndContributions)</td></tr>
        <tr><th> @Html.DisplayNameFor(model => model.Refund)</th>  <td> @Html.DisplayFor(model => model.Refund)</td></tr>
        <tr><th>@Html.DisplayNameFor(model => model.BalanceDue) </th>  <td>@Html.DisplayFor(model => model.BalanceDue) </td></tr>
        <tr><th>  @Html.DisplayNameFor(model => model.Created)</th>  <td>@Html.DisplayFor(model => model.Created) </td></tr>       
    </tbody>
</table>



</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model?.DeclarationId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>



