@model IEnumerable<impotquebec.Web.Models.Declaration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FiscalYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalDeductions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NetIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxableIncome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NonRefundableTaxCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncomeTaxAndContributions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Refund)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceDue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxForm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.History)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modified)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FiscalYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalDeductions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NetIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxableIncome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NonRefundableTaxCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeTaxAndContributions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Refund)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxForm.TaxFormId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.History)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modified)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeclarationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeclarationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeclarationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
